<div>
  <%= form_tag admin_news_index_path, :method => 'get', :id => 'news-search-form' do %>
    <p class="search">
      <%= text_field_tag "q", nil, :placeholder => "Szukaj..." %>
    </p>
    <p id="commit">
      <%= submit_tag '' %>
    </p>
  <% end %>
  <p id="add-news-button">
    <%= link_to "Dodaj", new_admin_news_path %>
  </p>
</div><br/><br/><br/><br/><br/>

<table id="news">
  <thead>
    <tr>
      <th class="title">Tytuł</th>
      <th class="content">Treść</th>
      <th class="actions">Edytuj/Usuń</th>
    </tr>
  </thead>
  <tbody>
    <% @news.each do |n| %>
      <tr>
        <td><%= link_to n.title, admin_news_path(n)%></td>
        <td><%= article_description(n) %></td>
        <td>
          <%= link_to "Edytuj", edit_admin_news_path(n)%>
           <%= link_to "Usuń", admin_news_path(n), :method=>:delete, :class=>:destroy, :confirm=>"Napewno chcesz usunąć ?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @news %>
