<%= form_for @device_photo, :url => admin_device_photos_path do |f| %>
  <%= render 'admin/shared/error_messages', :object => f.object -%>
  <table>
    <tr>
      <td><%= f.label :name, 'Nazwa:' %></td>
    </tr>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :description, 'Opis:' %></td>
    </tr>
      <td><%= f.text_field :description %></td>
    </tr>
    <tr>
      <td><%= f.label :photo_url, 'Link do zdjęcia:'%></td>
    </tr>
      <td><%= f.text_field :photo_url %></td>
    </tr>
    <tr>
      <td>
        <%= f.submit "Zapisz", :class => "left" %>
        <%= link_to "Cofnij", admin_device_photos_path, :class => "left" %>
      </td>
    </tr>
  </table>
<% end %>
