<div id="menu">
  <div id="menu-buttons">
    <p id="news-button"
    class="<%= params[:controller] == 'admin/news' ? 'active':''%>">
      <%= link_to "NEWSY", admin_news_index_path %>
    </p>
    <p id="codes-button"
    class="<%= params[:controller] == 'admin/codes' ? 'active':''%>">
      <%= link_to "KODY", admin_codes_path %>
    </p>
    <p id="maps-button"
    class="<%= params[:controller] == 'admin/maps' ? 'active':''%>">
      <%= link_to "MAPY", admin_maps_path %>
    </p>
  </div>
</div>
