<div id="images">
  
  <% if params[:controller] == "welcome"%>
    <%= image_tag "layouts/circle.png", alt: 'Circle', id: 'circle' -%>
    <%= image_tag "circle-images/main_logo.png", alt: 'Circle content', id: 'circle-content' -%>  
  <% elsif params[:controller] == "news" %>
      <%= image_tag "layouts/circle.png", alt: 'Circle', id: 'circle' -%>
      <%= image_tag "layouts/main_circle_content.png", alt: 'Circle content', id: 'circle-content' -%>
      <%= image_tag "circle-images/aktualnosci.png", alt: 'news', class: 'main-image' %>
      <%= image_tag "circle-images/kontakt.png", alt: 'contact', class: 'hidden' %>
  <% elsif params[:controller] == "static_pages" %>
    <%= image_tag "layouts/circle.png", alt: 'Circle', id: 'circle' -%>
    <%= image_tag "layouts/main_circle_content.png", alt: 'Circle content', id: 'circle-content' -%>
    <% unless params[:action] == "company" || params[:action] == "devices" || params[:action] == "partners" || params[:action] == "help" %>
      <%= image_tag "layouts/dot.png", alt: 'dot', id: 'sub-dot' -%>
    <% end %>

    <% if params[:action] == "company" %>
      <%= image_tag "circle-images/firma.png", alt: 'company', class: 'main-image' %>
      <%= image_tag "circle-images/kontakt.png", alt: 'contact', class: 'hidden' %>
      <%= image_tag "circle-images/aktualnosci.png", alt: 'news', class: 'hidden' %>
    <% elsif params[:action] == "contact" %>
      <%= image_tag "circle-images/kontakt.png", alt: 'contact', class: 'main-image' %>
      <%= image_tag "circle-images/aktualnosci.png", alt: 'news', class: 'hidden' %>
    <% elsif params[:action] == "devices" %>
      <%= image_tag "circle-images/urzadzenia.png", alt: 'devices', class: 'main-image' %>
      <%= image_tag "circle-images/lokalizacje.png", alt: 'localization', class: 'hidden' %>
      <%= image_tag "circle-images/wspolpraca.png", alt: 'cooperation', class: 'hidden' %>
    <% elsif params[:action] == "localization" %>
      <%= image_tag "circle-images/lokalizacje.png", alt: 'lokalizacje', class: 'main-image' %>
      <%= image_tag "circle-images/wspolpraca.png", alt: 'cooperation', class: 'hidden' %>
    <% elsif params[:action] == "cooperation" %>
      <%= image_tag "circle-images/lokalizacje.png", alt: 'localization', class: 'hidden' %>
      <%= image_tag "circle-images/wspolpraca.png", alt: 'cooperation', class: 'main-image' %>
    <% elsif params[:action] == "partners" || params[:action] == "technodiag" || params[:action] == "imedia" %>
      <%= image_tag "circle-images/partnerzy.png", alt: 'partners', class: 'main-image' %>
    <% elsif params[:action] == "help" %>
      <%= image_tag "circle-images/pomoc.png", alt: 'help', class: 'main-image' %>
      <%= image_tag "circle-images/kody.png", alt: 'codes', class: 'hidden' %>
      <%= image_tag "circle-images/zlacza.png", alt: 'connectors', class: 'hidden' %>
      <%= image_tag "circle-images/samochody.png", alt: 'cars', class: 'hidden' %>
    <% elsif params[:action] == "codes" %>
      <%= image_tag "circle-images/kody.png", alt: 'codes', class: 'main-image' -%>
      <%= image_tag "circle-images/zlacza.png", alt: 'connectors', class: 'hidden' %>
      <%= image_tag "circle-images/samochody.png", alt: 'cars', class: 'hidden' %>
    <% elsif params[:action] == "connectors" %>
      <%= image_tag "circle-images/kody.png", alt: 'codes', class: 'hidden' %>
      <%= image_tag "circle-images/zlacza.png", alt: 'connectors', class: 'main-image' -%>
      <%= image_tag "circle-images/samochody.png", alt: 'cars', class: 'hidden' %>
    <% elsif params[:action] == "cars" %>
      <%= image_tag "circle-images/kody.png", alt: 'codes', class: 'hidden' %>
      <%= image_tag "circle-images/zlacza.png", alt: 'connectors', class: 'hidden' %>
      <%= image_tag "circle-images/samochody.png", alt: 'cars', class: 'main-image' -%>
    <% end %>
  <% else %>  
      <%= image_tag "layouts/circle.png", alt: 'Circle', id: 'circle' -%>
      <%= image_tag "layouts/main_circle_content.png", alt: 'Circle content', id: 'circle-content' -%>
  <% end %>
</div>
