<!doctype html>
<html scrolling="no">
<head>
  <meta charset="utf-8">
  <title>BLUE CHECK POINT</title>
  <%= csrf_meta_tag %>
  <meta name="description" content="Checkn is a small privet project.">
  <script type="text/javascript" src="http://use.typekit.com/lwd7vyn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= yield :stylesheets%>
  <%# controller stylesheets can be found in app/controller_name.css -%>
  <%= controller_stylesheet_link_tag %>
  <%# action stylesheets can be found in app/controller_name/action_name.css -%>
  <%= action_stylesheet_link_tag %>
</head>
<body id="<%= id_for_body %>" class="<%= browser_class%>">
  <div id="page">
    <header>
      <%= render :partial => "layouts/header" %>
      <%= render :partial => "layouts/subheader" %>
    </header>
    <%= render :partial => "layouts/main_circle" %>
    <div id="main">
      <%= yield %>
    </div>
    <footer>
      <div>
        <p class="tk-edding-780">
          Global Automotive Solutions
        </p>
      </div>
    </footer>
    
  </div>


  <%= stylesheet_link_tag  'app/layouts/header', 'app/layouts/subheader', 'app/layouts/application' %>
  <%= javascript_include_tag 'lib/jquery-1.5.1.min', 'lib/rails', 'app/layouts/header', 'app/layouts/application'%>
  <%= yield :javascripts %>

</body>
</html>
