<!doctype html>
<html scrolling="no">
<head>
  <meta charset="utf-8">
  <title>Check N</title>
  <meta name="description" content="Checkn is a small privet project.">

  <%= yield :stylesheets%>
  <%# controller stylesheets can be found in app/controller_name.css -%>
  <%= controller_stylesheet_link_tag %>
  <%# action stylesheets can be found in app/controller_name/action_name.css -%>
  <%= action_stylesheet_link_tag %>
</head>
<body id="<%= id_for_body %>" class="<%= browser_class%>">
  <div id="myLoader" style="position:absolute;top:0px;left:0px;width:100%;height:100%">
    <center> <%= image_tag"welcome/loading.gif", style: "top: 100px;" %></center>
  </div>
  <%= image_tag "main_background.png", alt: 'Welcome Checkn', id: 'background-image' -%>
<!--    <%= image_tag "welcome/top-line.png", alt: 'Top line menu', id: 'top-line-welcome' -%> -->
  <div id="page" style="display: none">
    <%= render :partial => "layouts/header" %>
    <%= image_tag "layouts/main_circle.png", alt: 'Circle', id: 'main-circle' -%>
    <%= image_tag "layouts/main_circle_content.png", alt: 'Circle content', id: 'main-circle-content' -%>
    <%= yield %>
  </div>


  <%= stylesheet_link_tag  'app/layouts/header', 'app/layouts/application' %>
  <%= javascript_include_tag 'lib/jquery-1.5.1.min', 'lib/rails', 'app/layouts/header', cache: 'application_cache' %>
  <%= yield :javascripts %>

  <script type="text/javascript">//<![CDATA[
    $(document).ready(function() {
      var resizer = function() {
        var imgWidth = 1200;
        var imgHeight = 911;
        var imgRatio = imgWidth / imgHeight;

        var windowWidth = $(window).width();
        var windowHeight = $(window).height();
        var windowRatio = windowWidth / windowHeight;

        var zoom;
        if (imgRatio > windowRatio)
          zoom = windowHeight / imgHeight;
        else
          zoom = windowWidth / imgWidth;

        $('#background-image').width(imgWidth * zoom);
        $('#background-image').height(imgHeight * zoom);
      };
      resizer();
      $(window).resize(resizer);
    });

    var tmp_src =  $("#background-image").attr('src');
    $("#background-image").load(function() {
      $("#myLoader").hide();
      $("#page").fadeIn("slow");
    }).attr('src', null).
      attr('src', tmp_src).
      each(function() {
        if (this.complete) $(this).trigger('load');
      });
     //]]></script>
</body>
</html>
